*{

}
div.dataTables_wrapper {
        margin-bottom: 3em;
    }

div.pad2{
    padding-left:2px;
}

select{
    color: black;
}


.example1{
    background-color: rgba(77,133,159,.85);
    border-style: solid;
    border-color: #001823;
    color: black;
}

.borde-especial{
    border-style: solid;
    border-width: 10px;
    border-color: rgba(212, 190, 50, 1) ;
}

.especial{
    background-color: rgba(212, 190, 50, 0.8);
    background: rgba(212, 190, 50, 0.8);
}

.color-tabla{
    padding: 10px 10px 10px 10px;
    background-color: rgba(249,249,249,1);
    border-radius: 10px;
    margin-bottom: 20px;
}

input{
    color: black;
}

.colorw{
    color: white;
}

.colorb{
    color: black;
}
/*Otro css*/
*{
    
}
header{
    margin-top: 50px;
}

body  {
    background-color: #effbff;
    height: 200%;
    width: 100%;
}
.margen-inferior{
    margin-bottom: 10px;
}

.margen-inferior2{
    margin-bottom: 20px;
}

.margen-inferior3{
    margin-bottom: 30px;
}

.margen-superior{
    margin-top: 10px;
}

.margen-superior2{
    margin-top: 20px;
}

.margen-derecho{
    margin-right: 20px;
}
.margen-izquierdo{
    margin-left: 10px;
}

.margen-botones{
    margin-top:20px;
    margin-bottom: 20px;
}


.letra150{
    font-size: 200%;
}

.letra20{
    font-size: 20px;
}

.borde{
    border-style: solid;
    border-color: black;
}

textarea {
    resize: none;
}



